.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    backdrop-filter: blur(8px);
  }

  .bg-all{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }
  
  
  .modalAll {
    background: white;
    color: white;
    z-index: 10;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    animation: popUp 0.5s ease forwards;
  }
  
  .modalHeader {
    height: 50px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #6fb3a4;
    color: white;
  }
  
  .heading {
    margin: 0;
    padding: 10px;
    font-weight: 500;
  }
  
  .modalContent {
    padding: 10px;
    font-size: 14px;
    color: black;
  }
  
  .modalActions {
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .actionsContainer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border: none;
    font-size: 18px;
    transition: all 0.25s ease;
    margin-top: -7p;
    margin-right: -7px;
    background-color: #6fb3a4;
    color: white;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px);
  }
  

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes popUp {
  from {
      transform: translate(0, 0) scale(0);
      opacity: 0;
  }
  to {
      transform: translate(0, 0) scale(1);
      opacity: 1;
  }
}

@keyframes reversePopUp {
  from {
      transform: translate(0, 0) scale(1);
      opacity: 1;
  }
  to {
      transform: translate(0, 0) scale(0);
      opacity: 0;
  }
}